---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import CallToActionDonation from '~/components/widgets/CallToActionDonation.astro';
import strings from '~/strings.json';

const metadata = {
  title: strings.pageFriends,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    tagline=""
    image={{
      src: '~/assets/images/hero-image.jpg',
      alt: 'Sudin',
    }}
  >
    <Fragment slot="title">
      <span class="text-primary dark:text-white highlight">{strings.pageFriends}</span>
    </Fragment>

    <Fragment slot="subtitle">
    </Fragment>
  </Hero>

  <CallToActionDonation/>
</Layout>
