---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import Features2 from '~/components/widgets/Features2.astro';
import CallToActionDonation from '~/components/widgets/CallToActionDonation.astro';
import strings from '~/strings.json';

const metadata = {
  title: strings.pageSupport,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    tagline=""
    image={{
      src: '~/assets/images/hero-image.jpg',
      alt: 'Sudin',
    }}
  >
    <Fragment slot="title">
      <span class="text-primary dark:text-white highlight">{strings.pageSupport}</span>
    </Fragment>

    <Fragment slot="subtitle">
    </Fragment>
  </Hero>

  <CallToActionDonation/>

  <Features2
    title="Contatti"
    items={[
      {
        title: 'Telefono',
        description: strings.companyPhone,
        icon: 'tabler:headset',
      },
      {
        title: 'Mail',
        description: 'info@sudin.org',
        icon: 'tabler:mail',
      },
      {
        title: 'Indirizzo',
        description: strings.companyAddress,
        icon: 'tabler:map-pin',
      },
    ]}
  />

</Layout>
