---
import Layout from '~/layouts/ContentPageLayout.astro';
import strings from '~/strings.json';

const metadata = {
  title: strings.pageProject,
};
---

<Layout metadata={metadata}>
<div>
  <h2>Scuola superiore</h2>
  <p>Progetto per scuola superiore</p>

  <h2>Progetto agribusiness</h2>
  <p>Progetto agribusiness</p>
</div>



</Layout>
